@{
    ViewBag.Title = "Home Page";
}

@section Styles{
<link href="~/Content/cover.css"  rel="stylesheet"/>
}
<div class="container">
    <iframe src="https://webchat.botframework.com/embed/ConSerge?s=9ei6DuLTjfI.cwA.CUo.Y3ww2W2TBupxp1ahnCzo0HewSR864UGcN5MCFMHu3pE" style="height: 502px; max-height: 502px; width: 100%; margin: 50px 0 0 0;"></iframe>
</div>
